@use './variables' as *;
@use './resets' as *;
@use './breakpoints' as *;

//buttons, inputs and label

// button {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   height: rem(36);
//   background: $Indigo;
//   color: $White;
//   padding: 0 rem(15);
//   border-radius: rem(20);
//   font-style: normal;
//   font-weight: 600;
//   font-size: rem(13);
//   border: none;
//   font-family: "Titillium Web", sans-serif;
// }

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 6px 8px;
  border: none;
  box-shadow: 0px 4px 2px 1px rgba(0, 0, 0, 0.1);
}

.button-swapModal {
    background-color: white;
    gap: 8px;
    width: 90px;
}


button:hover {
  background-color: rgb(228, 228, 228);
}

.button-secondary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 rem(15);
  height: rem(36);
  color: $White;
  border-radius: rem(20);
  font-style: normal;
  font-weight: 600;
  font-size: rem(13);
  background: $White;
  border: rem(1) solid $Cloud;
  color: $Slate;
}

.button-secondary:hover {
  color: $Indigo;
  border: rem(1) solid $Indigo;
}

.button-delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 rem(15);
  height: rem(36);
  background: $Red;
  color: $White;
  border-radius: rem(20);
  font-style: normal;
  font-weight: 600;
  font-size: rem(13);
  border: none;
  font-family: "Titillium Web", sans-serif;
}

.button-delete:hover {
  background-color: $Graphite;
}

// ---------------------------INPUTS-------------

input {
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
}
.input-swapModal {
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  padding: 8px;
  border-radius: 15px;
  font-size: 14px;
}

.input-form,
textarea,
option,
select {
  height: rem(38);
  width: 100%;
  border-radius: rem(20);
  border: rem(1) solid $Cloud;
  padding: 0 rem(24);
  background-color: $White;
  margin-bottom: rem(16);
  @include tablet {
    margin-bottom: rem(24);
  }
  @include desktop {
    margin-bottom: rem(32);
  }
}

textarea {
  resize: none;
  font-family: "Titillium Web", sans-serif;
  padding: rem(8) rem(16);
}
